<div id="login-container" class="flex container mx-auto items-center justify-center">
  <div class="w-full max-w-xs mb-64">
    <div class="logo-container flex items-center justify-center align-center text-white text-4xl font-bold mt-3 mb-24">
      SPROUTLY
      <img src="../../assets/sprout-logo2.png" class="logo" />
    </div>
    <form class="bg-white shadow-md rounded-md p-8">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          Username
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
        <p *ngIf="!isUsernameValid" class="text-red-500 text-xs italic">Username can consist of letters and numbers only!</p>
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Password
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
      </div>
      <a class="inline-block align-baseline font-bold text-sm text-teal-600 hover:text-teal-800" href="#">
        Forgot Password?
      </a>
      <div class="flex items-center justify-between">
        <button class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" (click)="onSubmit()">
          Sign In
        </button>
        <div class="flex items-center justify-between mt-4">
          <p class="inline-block align-baseline text-sm text-blue-500">Don't have an account?
            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" [routerLink]="['/register']">
              Sign up
            </a>
          </p>
        </div>
      </div>
    </form>
    <p class="text-center text-white text-xs">
      ©2020 Banking App by Aja Strommen All rights reserved.
    </p>
  </div>
  <div *ngIf="error" class="notification bg-teal-600 text-center py-4 lg:px-4">
    <div class="p-2 bg-teal-400 items-center text-teal-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
      <span class="flex rounded-full bg-teal-700 uppercase px-2 py-1 text-xs font-bold mr-3">ERROR</span>
      <span class="font-semibold mr-2 text-left flex-auto">{{error}}</span>
    </div>
  </div>
  <div class="follow-us flex text-center"></div>
</div>
